# Problemset 1

In [2]:
import math

Q1

In [4]:
print(type(5))
print(5)
print(type(5.0))
print(5.0)
print(type(5 > 1))
print(5 > 1)
print(type('5'))
print('5')
print(type(5 * 2))
print(5 * 2)
print(type('5' * 2))
print('5' * 2)
print(type('5' + '2'))
print('5' + '2')
print(type(5 / 2))
print(5 / 2)
print(type(5 % 2))
print(5 % 2)
print(type({5, 2, 1}))
print({5, 2, 1})
print(type(5 == 3))
print(5 == 3)

print(type(math.pi))
print(math.pi)

<class 'int'>
5
<class 'float'>
5.0
<class 'bool'>
True
<class 'str'>
5
<class 'int'>
10
<class 'str'>
55
<class 'str'>
52
<class 'float'>
2.5
<class 'int'>
1
<class 'set'>
{1, 2, 5}
<class 'bool'>
False
<class 'float'>
3.141592653589793

Q2

a.

In [5]:
len('Supercalifragilisticexpialidocious')

34

b.

In [6]:
'ice' in 'Supercalifragilisticexpialidocious'

True

c.

In [7]:
words = ['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus', 'Bababadalgharaghtakamminarronnkonn']
max(words, key=len)

'Supercalifragilisticexpialidocious'

d.

In [8]:
composers = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
sorted(composers)[0]
sorted(composers)[-1]

'Buxtehude'

Q3

In [34]:
def triangleArea(a, b, c):
    s = (a + b + c) / 2
    area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
    return area

triangleArea(2, 2, 2)

1.7320508075688772

Q4

In [33]:
elmt = [25, 47, 42, 56, 32]

odd_elmt = [element for element in elmt if element % 2 != 0]
even_elmt = [element for element in elmt if element % 2 == 0]

print("The Even elements are:")
for even in even_elmt:
    print(even, end=" ")
print("\nThe Odd elements are:")
for odd in odd_elmt:
    print(odd, end=" ")

The Even elements are:
42 56 32
The Odd elements are:
25 47

Q5

a.

In [12]:
def inside(x, y, x1, y1, x2, y2):
    return x1 <= x <= x2 and y1 <= y <= y2

print(inside(1, 1, 0, 0, 2, 3))
print(inside(-1, -1, 0, 0, 2, 3))

True
False

b.

In [13]:
test_rect_1 = inside(1, 1, 0.3, 0.5, 1.1, 0.7)
test_rect_2 = inside(1, 1, 0.5, 0.2, 1.1, 2)

print(f"Point (1,1) inside first rectangle: {test_rect_1}")
print(f"Point (1,1) inside second rectangle: {test_rect_2}")
print(f"Point (1,1) lies inside both rectangles: {test_rect_1 and test_rect_2}")

Point (1,1) inside first rectangle: False
Point (1,1) inside second rectangle: True
Point (1,1) lies inside both rectangles: False

Q6

In [32]:
def pig(word):
    v = 'aeiou'
    word = word.lower()

    if word[0] in v:
        return word + 'way'
    else:
        return word[1:] + word[0] + 'ay'

print(pig('happy'))
print(pig('Enter'))

appyhay
enterway

Q7

In [31]:
def bldcount(filename):

    with open(filename, 'r') as file:
        content = file.read()
    bloodtypes = content.split()
    counts = {blood_type: bloodtypes.count(blood_type) for blood_type in set(bloodtypes)}
    order = ['A', 'B', 'AB', 'O', 'OO']

    for bloodtype in order:
        cnt = counts.get(bloodtype, 0)
        if cnt == 0:
            print(f'There are no patients of blood type {bloodtype}.')
        elif cnt == 1:
            print(f'There is one patient of blood type {bloodtype}.')
        else:
            print(f'There are {cnt} patients of blood type {bloodtype}.')

bldcount("/content/bloodtype.txt")

There are no patients of blood type A.
There are no patients of blood type B.
There are no patients of blood type AB.
There are no patients of blood type O.
There are no patients of blood type OO.

Q8

In [29]:
def curconv(cur, amt):
    with open('/content/currencies.txt', 'r') as file:
        for l in file:
            data = l.split()

            if data[0] == cur:
                return amt * float(data[1])

print(curconv('EUR', 100))
print(curconv('JPY', 100))

122.96544
1.241401

Q9



*   Combining 6 and "a" will result in a TypeError since Python is unable to combine an integer and a string.

*   Speaking about the twelfth item on a list consisting of just ten: An IndexError will appear as a consequence, indicating that the index is outside of the range of the list.

*   Calling math.sqrt(-1.0) will result in a ValueError since Python's built-in real number system does not specify the square root of a negative value.

*   When x is not specified, using an undeclared variable—print(x)—is inappropriate. You're attempting to use a variable that hasn't been defined or declared, which will result in a NameError.

*   attempting to open a nonexistent file: This will cause a FileNotFoundError: This error message means that the specified file does not exist or cannot be located at the supplied location.

Q10

In [27]:
def frequencies(txt):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    freq_list = [0] * len(letters)

    txt = txt.lower()

    for char in txt:
        if char in letters:
            freq_list[letters.index(char)] += 1

    return freq_list

print(frequencies('The quick red fox got bored and went home.'))
print(frequencies('apple'))

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]
[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]